name: CI/CD para TypeScript

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install
        working-directory: temas/abstraccion/typescript

      - name: Give execution permissions to tsc
        run: chmod +x node_modules/.bin/tsc
        working-directory: temas/abstraccion/typescript

      - name: Build TypeScript
        run: npm run build
        working-directory: temas/abstraccion/typescript

      - name: Build Docker image
        run: docker build -t tsc-abstraccion .
        working-directory: temas/abstraccion/typescript
